{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": [
            "Edge >= 16",
            "Chrome >= 61",
            "Firefox >= 60"
          ]
        }
      }
    ],
    "@babel/react"
  ]
}
