.wrapper {
  display: contents;
}

.hour {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-row-start: 1;
  grid-row-end: -1;
}

@media screen and (max-width: 920px) {
  .hour:nth-child(2n) .hand {
    opacity: 0.25;
  }

  .hour:nth-child(2n) .time {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .hour:nth-child(4n - 1) .hand {
    opacity: 0.25;
  }

  .hour:nth-child(4n - 1) .time {
    display: none;
  }
}

.hand {
  width: 1px;
  margin: 17px -0.5px 0;
  position: relative;
  background-color: rgb(220, 220, 220);
  z-index: -1;
}

.time {
  position: absolute;
  top: 0;
  padding: 5px;
  transform: translate(-5px, -100%);
  color: rgb(150, 150, 150);
}
